<tbody id="<%= spree_dom_id image %>" data-hook="images_row" class="image <%= cycle('odd', 'even')%>">
  <%= f.fields_for :variant_images, image do |imf| %>

    <tr class="show">
      <td class="no-border">
        <span class="handle"></span>
        <%= imf.hidden_field :position, :value => image.position, :class => 'position_field' %>
      </td>
      <td id="show_product_variant_images_attributes_<%= image_counter %>_attachment" class="field-display align-center">
        <%= link_to image_tag(image.attachment.url(:mini)), image.attachment.url(:product) %>
      </td>
      <% if @product.has_variants? %>
        <td id="show_product_variant_images_attributes_<%= image_counter %>_viewable_id" class="field-display"><%= options_text_for(image) %></td>
      <% end %>
      <td id="show_product_variant_images_attributes_<%= image_counter %>_alt" class="field-display"><%= image.alt %></td>
      <td class="actions">
        <%= link_to_with_icon('edit',
                              Spree.t(:edit),
                              image.new_record? ? '#' : edit_admin_product_image_url(@product, image),
                              :no_text => true,
                              :data => {:action => 'edit'}
                             ) %>
        <%= link_to_with_icon('trash',
                              Spree.t(:delete),
                              admin_product_image_url(@product, image),
                              :no_text => true,
                              :class => "delete-image"
                             ) %>
        <%= imf.check_box '_destroy', :value => false, :class => 'destroy_marker', :style => 'display: none;' %>
      </td>

    </tr>

    <tr class="edit" style="display: none;" data-hook="admin_image_form_fields">
      <td></td>
      <td>
        <%= render :partial => 'spree/shared/error_messages', :locals => { :target => image } %>
        <div data-hook="file" class="field">
          <%= imf.label :attachment, Spree.t(:filename) %><br>
          <%= imf.file_field :attachment %>
        </div>
      </td>
      <% if @product.has_variants? %>
        <td>
          <div data-hook="variant" class="field">
            <%= imf.label :viewable_id, Spree::Variant.model_name.human %><br>
            <%= imf.select :viewable_id, [[Spree.t(:all), @product.master.id]] + @variants.map{|v| [v.sku_and_options_text, v.id]}, {}, {:class => 'select2 fullwidth'} %>
          </div>
        </td>
      <% end %>
      <td data-hook="alt_text" class="field">
        <%= imf.label :alt, Spree.t(:alt_text) %><br>
        <%= imf.text_area :alt, :rows => 4, :class => 'fullwidth' %>
      </td>

      <td class="actions">
        <div class="form-buttons filter-actions actions" data-hook="buttons">
          <%= link_to_with_icon('ok',
                                Spree.t('actions.continue'),
                                '#',
                                :no_text => true,
                                :'data-target' => spree_dom_id(image)
                               ) %>
        </div>
      </td>

    </tr>

  <% end %>
</tbody>
