<ul class="toolbar inline-menu" data-hook="toolbar-product-images">
  <li id="new_image_link" data-hook>
    <%= link_to_with_icon(
      'plus',
      Spree.t(:new_image),
      new_admin_product_image_path(@product),
      remote: true,
      :data => {
        :target => "#variant_#{variant.id}_image_table",
        :itemTag => 'tbody',
        :variantID => variant.id,
        :isMaster => is_master
      },
      :class => "plus button spree_add_image")
    %>
  </li>
</ul>
<table id="variant_<%= variant.id %>_image_table" class="variant_image_table index sortable-images grouped_rows" data-hook="images_table" data-sortable-link="<%= update_positions_admin_product_images_url(@product) %>">
  <colgroup>
    <col style="width: 5%">
    <col style="width: 25%">
    <col style="width: 30%">
    <col style="width: 15%">
  </colgroup>
  <thead>
    <tr data-hook="images_header">
      <th colspan="2"><%= Spree.t(:thumbnail) %></th>
      <th><%= Spree.t(:alt_text) %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <% variant.images.each_with_index do |image, i| %>
    <%= render partial: 'spree/admin/images/image', locals: {f: f, image: image, image_counter: i} %>
  <% end %>
</table>
