<%= f.fields_for :images, image do |imf| %>
  <tr class="edit image" data-hook="admin_image_form_fields">
    <td></td>
    <td>
      <%= render :partial => 'spree/shared/error_messages', :locals => { :target => image } %>
      <div data-hook="file" class="field">
        <%= imf.label :attachment, Spree.t(:filename) %><br>
        <%= imf.file_field :attachment %>
      </div>
    </td>
    <td data-hook="alt_text" class="field">
      <%= imf.label :alt, Spree.t(:alt_text) %><br>
      <%= imf.text_area :alt, :rows => 4, :class => 'fullwidth' %>
    </td>

    <td class="actions">
      <div class="form-buttons filter-actions actions" data-hook="buttons">
        <%= link_to_with_icon('trash',
                              Spree.t(:delete),
                              admin_product_image_url(@product, image),
                              :no_text => true,
                              :class => "delete-image"
                             ) unless image.new_record? %>
        <%= imf.check_box '_destroy', :value => false, :class => 'destroy_marker', :style => 'display: none;' %>
      </div>
    </td>

  </tr>
<% end %>
