<% stock_items = @product.master.stock_items.sort_by{|i| i.stock_location.name} %>
<div class="four columns alpha">
  <div data-hook="admin_product_form_sku">
    <%= f.field_container :sku do %>
      <%= f.label :sku, Spree.t(:sku) %>
      <%= f.text_field :sku, :size => 16 %>
    <% end %>
  </div>
</div>
<div class="four columns">
  <ul id="shipping_specs">
    <li id="shipping_specs_weight_field" data-hook="admin_product_form_weight" class="field alpha omega four columns">
      <%= f.label :weight, Spree.t(:weight) %>
      <%= f.text_field :weight, :size => 4 %>
    </li>
    <li id="shipping_specs_height_field" data-hook="admin_product_form_height" class="field alpha one columns">
      <%= f.label :height, Spree.t(:height) %>
      <%= f.text_field :height, :size => 4 %>
    </li>
    <li id="shipping_specs_width_field" data-hook="admin_product_form_width" class="field one columns">
      <%= f.label :width, Spree.t(:width) %>
      <%= f.text_field :width, :size => 4 %>
    </li>
    <li id="shipping_specs_depth_field" data-hook="admin_product_form_depth" class="field omega one columns">
      <%= f.label :depth, Spree.t(:depth) %>
      <%= f.text_field :depth, :size => 4 %>
    </li>
  </ul>
</div>
<div class="four columns">
  <div data-hook="admin_product_form_price">
  <%= f.field_container :price do %>
    <%= f.label :price, raw(Spree.t(:master_price) + content_tag(:span, ' *', :class => "required")) %>
    <%= f.text_field :price, :value => number_to_currency(@product.price, :unit => '') %>
    <%= f.error_message_on :price %>
  <% end %>
  </div>

  <div data-hook="admin_product_form_cost_price" class="alpha two columns">
    <%= f.field_container :cost_price do %>
      <%= f.label :cost_price, Spree.t(:cost_price) %>
      <%= f.text_field :cost_price, :value => number_to_currency(@product.cost_price, :unit => '') %>
      <%= f.error_message_on :cost_price %>
    <% end %>
  </div>
  <div data-hook="admin_product_form_cost_currency" class="omega two columns">
    <%= f.field_container :cost_currency do %>
      <%= f.label :cost_currency, Spree.t(:cost_currency) %>
      <%= f.text_field :cost_currency %>
      <%= f.error_message_on :cost_currency %>
    <% end %>
  </div>
  <div data-hook="admin_product_form_tax_category">
    <%= f.field_container :tax_category do %>
      <%= f.label :tax_category_id, Spree.t(:tax_category) %>
      <%= f.collection_select(:tax_category_id, @tax_categories, :id, :name, { :include_blank => Spree.t('match_choices.none') }, { :class => 'select2' }) %>
      <%= f.error_message_on :tax_category %>
    <% end %>
  </div>
</div>
<div class="four columns omega">
  <%= f.fields_for :master, @product.master do |vf| %>
    <div data-hook="track_inventory" class="field checkbox">
      <label>
        <%= vf.check_box :track_inventory %>
        <%= Spree.t(:track_inventory) %>
      </label>
    </div>
    <table id="master_stock_table" style="<%= 'display: none;' unless @product.master.track_inventory %>">
      Stock
      <% stock_items.each do |stock_item| %>
        <%= render partial: 'spree/admin/stock_items/stock_item_edit', locals: {stock_item: stock_item, f: vf} %>
      <% end %>
    </table>
  <% end %>
</div>
