<% stock_items = variant.stock_items.sort_by{|i| i.stock_location.name} %>
<% show_rows = variant.track_inventory? ? stock_items.count : 1 %>
<% edit_rows = stock_items.count + 1 %>
<tbody id="<%= spree_dom_id variant %>" <%= 'style="color:red;"' if variant.deleted? %> data-hook="variants_row" class="variant <%= cycle('odd', 'even')%>">
  <%= f.fields_for :variants, variant do |vf| %>
    <tr class="show">
      <td rowspan="<%= show_rows %>" class="no-border">
        <span class="handle"></span>
        <%= vf.hidden_field :position, :value => variant.position, :class => 'position_field' %>
      </td>
      <td rowspan="<%= show_rows %>" id="show_product_variants_attributes_<%= variant_counter %>_sku" class="field-display"><%= variant.sku %></td>
      <% @product.option_types.each do |option_type| %>
        <td rowspan="<%= show_rows %>" id="show_variant_<%= variant_counter %>_option_<%= option_type.name %>" class="option_value field-display"><%= variant.option_value(option_type.name) %></td>
      <% end %>
      <td rowspan="<%= show_rows %>">
        <span id="show_product_variants_attributes_<%= variant_counter %>_height" class="field-display">
          <%= number_with_precision(variant.height, :precision => 2) %>
        </span>h
        &times;
        <span id="show_product_variants_attributes_<%= variant_counter %>_width" class="field-display">
          <%= number_with_precision(variant.width, :precision => 2) %>
        </span>w
        &times;
        <span id="show_product_variants_attributes_<%= variant_counter %>_depth" class="field-display">
          <%= number_with_precision(variant.depth, :precision => 2) %>
        </span>d
        <br />
        Weight:
        <span id="show_product_variants_attributes_<%= variant_counter %>_weight" class="field-display">
          <%= number_with_precision(variant.weight, :precision => 2) %>
        </span>
      </td>
      <td rowspan="<%= show_rows %>" id="show_product_variants_attributes_<%= variant_counter %>_price" class="field-display">
        <%= variant.display_price.to_html %>
      </td>
      <% if variant.track_inventory? %>
        <%= render partial: 'spree/admin/stock_items/stock_item_show', locals: {stock_item: stock_items.first} %>
      <% else %>
        <td rowspan="1" colspan="3">
          <span id="show_product_variants_attributes_<%= variant_counter %>_track_inventory" class="field-display">
              Not tracking inventory
          </span>
        </td>
      <% end %>
      <td rowspan="<%= show_rows %>" class="actions">
        <% unless variant.deleted? %>
          <%= link_to_with_icon('edit',
                                Spree.t(:edit),
                                variant.new_record? ? '#' : edit_admin_product_variant_url(@product, variant),
                                :no_text => true,
                                :data => {:action => 'edit'}
                               ) %>
          <%= link_to_with_icon('trash',
                                Spree.t(:delete),
                                admin_product_variant_url(@product, variant),
                                :no_text => true,
                                :class => "delete-variant"
                               ) unless variant.deleted? || variant.new_record? %>
          <%= vf.check_box '_destroy', :value => false, :class => 'destroy_marker', :style => 'display: none;' %>
        <% end %>
      </td>
    </tr>
    <% stock_items.drop(1).each do |stock_item| %>
      <tr class="show" style="<%= 'display: none'unless variant.track_inventory? %>">
        <%= render partial: 'spree/admin/stock_items/stock_item_show', locals: {stock_item: stock_item} %>
      </tr>
    <% end %>

    <tr class="edit" style="display: none;">
      <td rowspan="<%= edit_rows %>">
      </td>
      <td rowspan="<%= edit_rows %>" class="sku">
        <%= render :partial => 'spree/shared/error_messages', :locals => { :target => variant } %>
        <div class="field" data-hook="sku">
          <%= vf.label :sku, Spree.t(:sku) %>
          <%= vf.text_field :sku, :class => 'fullwidth edit_field' %>
        </div>
      </td>
      <% @product.option_types.each do |option_type| %>
        <td rowspan="<%= edit_rows %>" class="option_value">
          <div id="variant_<%= variant_counter %>_option_<%= option_type.name %>" class="field field-option_value" data-hook="presentation">
            <%= label :new_variant, option_type.presentation %>
            <%= vf.collection_select 'option_value_ids', option_type.option_values, :id, :presentation,
              { :prompt => true }, { :name => "product[variants_attributes][#{vf.index}][option_value_ids][]", :class => 'select2 fullwidth edit_field' } %>
          </div>
        </td>
      <% end %>
      <td rowspan="<%= edit_rows %>">
        <% [:weight, :height, :width, :depth].each do |field| %>
          <div class="field" data-hook="<%= field %>">
            <%= vf.label field, Spree.t(field) %>
            <% value = number_with_precision(variant.send(field), :precision => 2) %>
            <%= vf.text_field field, :value => value, :class => 'fullwidth edit_field' %>
          </div>
        <% end %>
      </td>
      <td rowspan="<%= edit_rows %>">
        <div class="field" data-hook="price">
          <%= vf.label :price, Spree.t(:price) %>
          <%= vf.text_field :price, :value => number_to_currency(variant.price, :unit => ''), :class => 'fullwidth edit_field' %>
        </div>

        <div class="field" data-hook="cost_price">
          <%= vf.label :cost_price, Spree.t(:cost_price) %>
          <%= vf.text_field :cost_price, :value => number_to_currency(variant.cost_price, :unit => ''), :class => 'fullwidth' %>
        </div>

        <div class="field" data-hook="tax_category">
          <%= vf.label :tax_category_id, Spree.t(:tax_category) %>
          <%= vf.collection_select(:tax_category_id, @tax_categories, :id, :name, { :include_blank => Spree.t('match_choices.none') }, { :class => 'select2 fullwidth' }) %>
        </div>
      </td>
      <td colspan="3">
        <div data-hook="track_inventory" class="field checkbox">
          <label>
            <%= vf.check_box :track_inventory %>
            <%= Spree.t(:track_inventory) %>
          </label>
        </div>
      </td>
      <td rowspan="<%= edit_rows %>" class="actions">
        <div class="form-buttons filter-actions actions" data-hook="buttons">
          <%= link_to_with_icon('ok',
                                Spree.t('actions.continue'),
                                '#',
                                :no_text => true,
                                :'data-target' => spree_dom_id(variant)
                               ) %>
        </div>
      </td>
    </tr>
    <% stock_items.each do |stock_item| %>
      <tr class="edit" style="display: none;">
        <td class="align-center">Edit <%= stock_item.stock_location.name %></td>
        <td class="align-center"><%= stock_item.count_on_hand %></td>
        <td class="align-center">
          <%= vf.fields_for :stock_items, stock_item do |vif| %>
            <%= vif.check_box :backorderable %>
          <% end %>
        </td>
      </tr>
    <% end %>

  <% end %>

</tbody>
