<%= f.fields_for :stock_items, stock_item do |sif| %>
  <tr class="stock_item edit" style="display: table-row;">
    <td class="align-center"><%= stock_item.stock_location.name %></td>
    <td class="align-center">
      <%= stock_item.count_on_hand %>
      <%= sif.label :backorderable do %>
        <%= Spree.t(:backorderable) %>
        <%= sif.check_box :backorderable %>
      <% end %>
    </td>
    <td>
      <% unless stock_item.deleted? %>
      <%= link_to_with_icon('trash',
        Spree.t(:delete),
        admin_stock_item_url(stock_item),
        :no_text => true,
        :class => "delete-stock_item"
      ) unless stock_item.deleted? || stock_item.new_record? %>
      <%= sif.check_box '_destroy', :value => false, :class => 'destroy_marker', :style => 'display: none;' %>
      <% end %>
    </td>
  </tr>
<% end %>
