<%= f.fields_for :product_properties, product_property do |ppf| %>
  <tr class="product_property fields" id="spree_<%= dom_id(product_property) %>" data-hook="product_property">
    <td class="no-border">
      <span class="handle"></span>
      <%= ppf.hidden_field :position, :value => product_property.position, :class => 'position_field' %>
      <%= ppf.hidden_field :id %>
    </td>
    <td class='property_name'>
      <%= ppf.text_field :property_name, :class => 'autocomplete' %>
    </td>
    <td class='value'>
      <%= ppf.text_field :value %>
    </td>
    <td class="actions">
      <%= link_to_with_icon('trash',
                            Spree.t(:delete),
                            product_property.persisted? ? admin_product_product_property_url(product, product_property) : '#',
                            :no_text => true,
                            :class => "delete-product_property"
                           ) %>
      <%= ppf.check_box '_destroy', :value => false, :class => 'destroy_marker', :style => 'display: none;' %>
    </td>
  </tr>
<% end %>
